<div class="py-5 team4">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 text-center">
        <h1 class="mb-3">Les membres de l'équipe</h1>
        <h6 class="subtitle">Il n'y a que moi.</h6>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 text-center pt-2">
        <div class="row">
          <h5 class="mt-4 font-weight-medium mb-0">Tommy RISCHMANN</h5>
        </div>
      </div>
    </div>
  </div>
</div>